<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Estate98</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.shopify.com/s/files/1/0712/2793/2978/files/logo3.png?v=1698787151/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.shopify.com/s/files/1/0712/2793/2978/files/logo3.png?v=1698787151/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.shopify.com/s/files/1/0712/2793/2978/files/logo3.png?v=1698787151/favicon-16x16.png">
    <link rel="manifest" href="https://cdn.shopify.com/s/files/1/0712/2793/2978/files/logo3.png?v=1698787151/site.webmanifest">
    <link rel="mask-icon" href="https://cdn.shopify.com/s/files/1/0712/2793/2978/files/logo3.png?v=1698787151/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="https://cdn.shopify.com/s/files/1/0712/2793/2978/files/logo3.png?v=1698787151/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="https://cdn.shopify.com/s/files/1/0712/2793/2978/files/logo3.png?v=1698787151/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'featured.css' | asset_url | stylesheet_tag }}
    {{ 'beverage.css' | asset_url | stylesheet_tag }}
    {{ 'product-detail.css' | asset_url | stylesheet_tag }}
    {{ 'convenience.css' | asset_url | stylesheet_tag }}
    {{ 'reviews.css' | asset_url | stylesheet_tag }}
    {{ 'recipe.css' | asset_url | stylesheet_tag }}
    {{ 'faq.css' | asset_url | stylesheet_tag }}
    {{ 'hero.css' | asset_url | stylesheet_tag }}
    {{ 'homesec1.css' | asset_url | stylesheet_tag }}
    {{ 'generations.css' | asset_url | stylesheet_tag }}
    {{ 'history.css' | asset_url | stylesheet_tag }}
    {{ 'story.css' | asset_url | stylesheet_tag }}
    {{ 'craft.css' | asset_url | stylesheet_tag }}
    {{ 'cart-drawer.css' | asset_url | stylesheet_tag }}
    {{ 'footer.css' | asset_url | stylesheet_tag }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer="defer"></script>
  </head>
  <body>
    <div class="backdrop"></div>
    {{ content_for_layout }}
    {% section 'footer' %}
    {% section 'cart-drawer' %}
    <script src="{{ 'script.js' | asset_url }}" defer></script>
    <script src="{{ 'product.js' | asset_url }}" defer></script>
  </body>
</html>