<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estate98</title>
    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'featured.css' | asset_url | stylesheet_tag }}
    {{ 'beverage.css' | asset_url | stylesheet_tag }}
    {{ 'product-detail.css' | asset_url | stylesheet_tag }}
    {{ 'convenience.css' | asset_url | stylesheet_tag }}
    {{ 'reviews.css' | asset_url | stylesheet_tag }}
    {{ 'recipe.css' | asset_url | stylesheet_tag }}
    {{ 'faq.css' | asset_url | stylesheet_tag }}
    {{ 'hero.css' | asset_url | stylesheet_tag }}
    {{ 'homesec1.css' | asset_url | stylesheet_tag }}
    {{ 'generations.css' | asset_url | stylesheet_tag }}
    {{ 'history.css' | asset_url | stylesheet_tag }}
    {{ 'story.css' | asset_url | stylesheet_tag }}
    {{ 'craft.css' | asset_url | stylesheet_tag }}
    {{ 'cart-drawer.css' | asset_url | stylesheet_tag }}
    {{ 'footer.css' | asset_url | stylesheet_tag }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer="defer"></script>
  </head>
  <body>
    <div class="backdrop"></div>
    {{ content_for_layout }}
    {% section 'footer' %}
    {% section 'cart-drawer' %}
    <script src="{{ 'script.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'product.js' | asset_url }}" defer="defer"></script>
  </body>
</html>