<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estate98</title>
    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'featured.css' | asset_url | stylesheet_tag }}
    {{ 'beverage.css' | asset_url | stylesheet_tag }}
    {{ 'product.css' | asset_url | stylesheet_tag }}
    {{ 'convenience.css' | asset_url | stylesheet_tag }}
    {{ 'reviews.css' | asset_url | stylesheet_tag }}
    {{ 'recipe.css' | asset_url | stylesheet_tag }}
    {{ 'faq.css' | asset_url | stylesheet_tag }}
    {{ 'footer.css' | asset_url | stylesheet_tag }}

  </head>
  <body>
    {% section 'navbar' %}
    <section class="container">
      {{ content_for_layout }}
    </section>
    {% section 'footer' %}
    {{ 'script.js' | asset_url | script_tag }}
    {{ 'product.js' | asset_url | script_tag }}
  </body>
</html>