<div class="beverage-container">
  <div class="video-container">
    <video
      class="promo-video"
        autoplay
        loop
        muted
        playsinline
        poster="{{ 'ultra2.png' | asset_url }}"
      >
      <source src="{{ 'sequence.mp4' | asset_url }}" type="video/mp4">
    </video>
  </div>
  <h1 class="heading-primary">Make Any Coffee Beverage in Seconds</h1>
  <div class="beverage">
    <div class="beverage-list">
      <div class="icon">
        <img
          class="spoon"
          width="70"
          height="100"
          loading="eager"
          src="{{'spoon.svg' | asset_url }}"
          alt="spoon">
      </div>
      <p class="beverage-title-text">Ultra Convenient</p>
      <p class="beverage-text">
        Simply add 1 to 2 tablespoons to water or milk and relish a delicious cup of specialty coffee. Immerse yourself in an exceptional experience in ease without compromising on the quality.
      </p>
    </div>
    <div class="beverage-list">
      <div class="icon">
        <img
          src="{{ 'dollar.svg' | asset_url }}"
          alt="mug"
          width="50"
          height="50"
          loading="eager"
          class="dollar-img">
      </div>
      <p class="beverage-title-text">
        Unmatched Value
      </p>
      <p class="beverage-text">
        Our 8 oz bottle boasts up to 16 servings of specialty coffee--just ~$1.25 per serving–providing you unparalleled satisfaction at an irresistible price.
      </p>
    </div>
    <div class="beverage-list">
      <div class="icon">
        <img
          src="{{ 'glass.svg' | asset_url }}"
          alt="cup"
          width="50"
          height="50"
          loading="eager"
          class="glass-img">
      </div>
      <p class="beverage-title-text">
        Incredibly Versatile
      </p>
      <p class="beverage-text">
        Bask in the artistry of crafting an array of coffee beverages - from the refreshment of cold brew or the velvety richness of lattes to the smooth plunge of an espresso martini.
      </p>
    </div>
  </div>
</div>