<div class="faq-container">
  <h1 class="heading-primary align-left">
    FAQ's
  </h1>
  <ul id="accordion" class="faq">
    <li>
      <label for="first">How many servings are in a bottle of Estate '98?
        <span><img src="{{ 'arrowdown.svg' | asset_url }}" alt=""></span>
      </label>
      <input
        type="radio"
        name="accordion"
        id="first"
        checked>
      <div class="content-faq">
        <p>There are up to 16 cups in a bottle of Estate '98 based on using 1 tablespoon per serving. 16 servings comes out to $.97 to $1.12 per cup of coffee on our various Super Early Bird rewards! You can also make your coffee more concentrated by adding more than a tablespoon.</p>
      </div>
    </li>
    <li>
      <label for="second">What type of coffee do you use in your ultra-concentrate?
        <span><img src="{{ 'arrowdown.svg' | asset_url }}" alt=""></span>
      </label>
      <input
        type="radio"
        name="accordion"
        id="second">
      <div class="content-faq">
        <p>There are up to 16 cups in a bottle of Estate '98 based on using 1 tablespoon per serving. 16 servings comes out to $.97 to $1.12 per cup of coffee on our various Super Early Bird rewards! You can also make your coffee more concentrated by adding more than a tablespoon.</p>
      </div>
    </li>
    <li>
      <label for="third">What is Kickstarter?
        <span><img src="{{ 'arrowdown.svg' | asset_url }}" alt=""></span>
      </label>
      <input
        type="radio"
        name="accordion"
        id="third">
      <div class="content-faq">
        <p>There are up to 16 cups in a bottle of Estate '98 based on using 1 tablespoon per serving. 16 servings comes out to $.97 to $1.12 per cup of coffee on our various Super Early Bird rewards! You can also make your coffee more concentrated by adding more than a tablespoon.</p>
      </div>
    </li>
    <li>
      <label for="fourth">What does it mean to back a project (pledge)?
        <span><img src="{{ 'arrowdown.svg' | asset_url }}" alt=""></span>
      </label>
      <input
        type="radio"
        name="accordion"
        id="fourth">
      <div class="content-faq">
        <p>There are up to 16 cups in a bottle of Estate '98 based on using 1 tablespoon per serving. 16 servings comes out to $.97 to $1.12 per cup of coffee on our various Super Early Bird rewards! You can also make your coffee more concentrated by adding more than a tablespoon.</p>
      </div>
    </li>
    <li>
      <label for="fifth">How do I pledge?
        <span><img src="{{ 'arrowdown.svg' | asset_url }}" alt=""></span>
      </label>
      <input
        type="radio"
        name="accordion"
        id="fifth">
      <div class="content-faq">
        <p>There are up to 16 cups in a bottle of Estate '98 based on using 1 tablespoon per serving. 16 servings comes out to $.97 to $1.12 per cup of coffee on our various Super Early Bird rewards! You can also make your coffee more concentrated by adding more than a tablespoon.</p>
      </div>
    </li>
  </ul>
</div>