{% schema %}
{
    "name": "Hero - Large Video",
    "settings": [
        {
            "type": "text",
            "id": "header",
            "default": "SPECIALTY ULTRA CONCENTRATED COFFEE",
            "label": "Header"
        },
        {
            "type": "text",
            "id": "subheader",
            "default": "Savor the Essence of El Salvador",
            "label": "Sub Header"
        },
        {
            "type": "text",
            "id": "cta_button_text",
            "default": "SHOP NOW",
            "label": "CTA Button Text"
        }
    ]
}
{% endschema %}
<div class="hero">
    <video
            id="background-video"
            autoplay
            loop
            muted
            playsinline
            poster="{{ 'hero-poster.png' | asset_url }}">
        <source src="{{ 'Video-medium.mp4' | asset_url }}" type="video/mp4">
    </video>
    <div class="hero-content">
        <h1 class="hero-heading">{{ section.settings.header }}</h1>
        <h2 class="hero-subheading">{{ section.settings.subheader }}</h2>
        <a href="/pages/shop">
            <button class="btn-primary">{{ section.settings.cta_button_text}}</button>
        </a>
    </div>
</div>
