<div class="history-container">

  <h1 class="heading-primary">
    RICH IN HISTORY <br>
    RICH IN TASTE
  </h1>

  {% comment %} history 1 {% endcomment %}

  <h1 class="heading-secondary heading-mbl">
    FAMILY LEGACY SINCE 1798
  </h1>
  <div class="flex-image-first">
    <div class="flex-image">
        <img src="{{ 'history1.png' | asset_url }}" alt="Ultra concentrated coffee">
    </div>
    <div class="flex-content-right">
      <h1 class="heading-secondary align-left hide-title">
        FAMILY LEGACY SINCE 1978
      </h1>
      <p>Estate '98 draws its inspiration from the cherished legacy of our ancestral coffee farm, aptly named "El '98," nestled in the heart of El Salvador. For six generations, the Larin family has nurtured and cultivated this remarkable estate, infusing it with a rich heritage that resonates in every sip.</p>
    </div>
  </div>
</div>

{% comment %} history 2 {% endcomment %}

<h1 class="heading-secondary heading-mbl">
    RICH IN TASTE
  </h1>
  <div class="flex-text-first">
    <div class="flex-content-left center">
      <h1 class="heading-secondary align-left hide-title">
        RICH IN TASTE
      </h1>
      <p>With an artisan’s precision, we meticulously handpick each and every coffee bean of the 100% strictly high grown Bourbon variety. These specialty beans are then gently dried on traditional patios, paying homage to the time-honored technique that ensures unparalleled flavor and quality.</p>
    </div>
    <div class="flex-image">
      <img src="{{ 'promo.png' | asset_url }}" alt="Ultra concentrated coffee">
    </div>
  </div>

</div>

{% comment %} history 3 {% endcomment %}

<h1 class="heading-secondary heading-mbl">
    SUSTAINABLE
  </h1>
  <div class="flex-image-first">
    <div class="flex-image">
      <img src="{{ 'history3.png' | asset_url }}" alt="Ultra concentrated coffee">
    </div>
    <div class="flex-content-right center">
      <h1 class="heading-secondary align-left hide-title">
       SUSTAINABLE
      </h1>
      <p>With Estate '98, we present a sustainable and mindful coffee experience that transcends the limitations of single-use materials. Indulge in the exquisite flavors of a delectable cup, all without the reliance on plastic or pods. In order to establish an ecological balance we commit to recycle, not only for the benefit of our communities, but also for the welfare of the generations to come. Immerse yourself in the pure essence of our meticulously crafted coffee, knowing that your enjoyment is in perfect harmony with our commitment to reducing environmental impact.</p>
      <a href="#">
        <button class="btn-primary mt-top-20">Read More</button>
      </a>
    </div>
  </div>
</div>


{% comment %} history 4 {% endcomment %}

  <div class="flex-text-first max-h-100">
    <div class="flex-content-left center">
      <div class="flex-image2">
        <img src="{{ 'history4a.png' | asset_url }}" alt="Ultra concentrated coffee">
      </div>
      <h1 class="heading-secondary">
        COFFEE FOR A CAUSE
      </h1>
      <p class="pr-60">With each and every order, we contribute $1 towards uplifting the local coffee farming communities in El Salvador. It is our heartfelt commitment to support and empower those who cultivate the very essence of our favorite beverage. Together, we can make a meaningful difference in the lives of these dedicated communities.</p>
    </div>
    <div class="flex-image">
      <h1 class="bellarina">
        ‘Cosechas lo que siembras’
      </h1>
      <h1 class="heading-secondary align-center">
        ‘Harvest What You Plant’
      </h1>
      <img src="{{ 'history4b.png' | asset_url }}" alt="Ultra concentrated coffee">
    </div>
  </div>

</div>