<div class="history-container">

  <h1 class="heading-primary">
    RICH IN HISTORY <br>
    RICH IN TASTE
  </h1>

  {% comment %} history 1 {% endcomment %}

  <h1 class="heading-secondary heading-mbl">
    FAMILY LEGACY SINCE 1798
  </h1>
  <div class="flex-image-first">
    <div class="flex-image">
        <img src="{{ 'history1.png' | asset_url }}" alt="Ultra concentrated coffee">
    </div>
    <div class="flex-content-right">
      <h1 class="heading-secondary align-left hide-title">
        FAMILY LEGACY SINCE 1798
      </h1>
      <p>Estate '98 draws its inspiration from the cherished legacy of our ancestral coffee farm, aptly named "El '98", nestled in the heart of El Salvador. For six generations, the Larin family has nurtured and cultivated this remarkable estate, infusing it with a rich heritage that resonates in every sip.</p> <br>
      <a href="/pages/story">
        <button class="btn-primary mt-top-20">Read More</button>
      </a>
    </div>
  </div>
</div>

{% comment %} history 2 {% endcomment %}

<h1 class="heading-secondary heading-mbl">
    RICH IN TASTE
  </h1>
  <div class="flex-text-first">
    <div class="flex-content-left center">
      <h1 class="heading-secondary align-left hide-title">
        RICH IN TASTE
      </h1>
      <p>The fertile terroir of El Salvador’s coffee growing region provides all the necessary ingredients to grow an extraordinary coffee bean – volcanic soil, elevation, microclimate, and sun.</p> <br>
      <p>We meticulously handpick each and every coffee bean of the 100% strictly high grown Bourbon variety. These specialty beans are then honey processed and gently dried on traditional patios, paying homage to the time-honored technique that ensures exceptional flavor and quality.</p><br>
      <p>Combining our traditional practices, as well as our innovative techniques, we can proudly say that we are producing the most exceptional flavor and quality in our ultra concentrated coffee. 
        </p> <br>
      <a href="/pages/craft">
        <button class="btn-primary mt-top-20">Read More</button>
      </a>
    </div>
    <div class="flex-image">
      <img src="{{ 'promo.png' | asset_url }}" alt="Ultra concentrated coffee">
    </div>
  </div>

</div>

{% comment %} history 3 {% endcomment %}

<h1 class="heading-secondary heading-mbl">
    SUSTAINABLE
  </h1>
  <div class="flex-image-first">
    <div class="flex-image">
      <img src="{{ 'history3.png' | asset_url }}" alt="Ultra concentrated coffee">
    </div>
    <div class="flex-content-right center">
      <h1 class="heading-secondary align-left hide-title">
       SUSTAINABLE
      </h1>
      <p>With Estate '98, we present a sustainable and mindful coffee experience that transcends the limitations of single-use materials. Without the reliance on plastic or pods, we aim to establish an ecological balance that not only benefits our communities, but also supports the generations to come.</p> <br>
      <p>Through the cultivation of shade-grown coffee, we not only honor the land but also safeguard the delicate balance of natural ecosystems. Our practice safeguards the local water supplies and provides a sanctuary teeming with diverse bird species and fauna.
      </p>
    </div>
  </div>
</div>


{% comment %} history 4 {% endcomment %}

  <div class="flex-text-first max-h-100">
    <div class="flex-content-left center">
      <div class="flex-image2">
        <img src="{{ 'history4a.png' | asset_url }}" alt="Ultra concentrated coffee">
      </div>
      <h1 class="heading-secondary">
        COFFEE FOR A CAUSE
      </h1>
      <p class="pr-60">With each and every order, we contribute $1 towards uplifting the local coffee farming communities in El Salvador. It is our commitment to support and empower those who cultivate these precious coffee trees. Together, we can make a meaningful difference in the lives of these dedicated communities.
      </p>
    </div>
    <div class="flex-image">
      <h1 class="bellarina">
        ‘Cosechas lo que siembras’
      </h1>
      {% comment %} <h1 class="heading-secondary align-center">
        ‘Harvest What You Plant’
      </h1> {% endcomment %}
      <img src="{{ 'history4b.png' | asset_url }}" alt="Ultra concentrated coffee">
    </div>
  </div>

</div>