{{ 'navbar.css' | asset_url | stylesheet_tag }}

<navbar class="navbar">
  <div class="logo">
    <a class="logo-black-mbl" href="/">
      <img
        class="logo-black"
        loading="eager"
        src={{ "estate-logo.png" | asset_url }}
        alt="{{ shop.name }}" />
    </a>
    <a class="logo-white-mbl" href="/">
      <img
        class="logo-white"
        loading="eager"
        src={{ "logo-white.png" | asset_url }}
        alt="{{ shop.name }}" />
    </a>
  </div>
  <ul class="nav">
   {% comment %} {% for link in linklists.main-menu.links %}
      <li class="nav-item"><a class="nav-link" href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}  {% endcomment %}
    <li class="nav-item">
      <a href="/pages/shop" class="nav-link-black">SHOP</a>
    </li>
    <li class="nav-item">
      <a href="/pages/craft" class="nav-link-black">OUR CRAFT</a>
    </li>
    <li class="nav-item">
      <a href="/pages/story" class="nav-link-black">OUR STORY</a>
    </li>
    <li class="nav-item">
      <a href="/#recipes" class="nav-link-black">RECIPES</a>
    </li>
  </ul>
  <div class="mbl-menu">
    <div class="bar-black"></div>
    <div class="bar-black"></div>
    <div class="bar-black"></div>
  </div>
</navbar>