{{ 'navbar.css' | asset_url | stylesheet_tag }}

<navbar class="navbar">
  <div class="logo">
    <a href="/">
      <img
        class="logo-black"
        width="148"
        height="81"
        loading="eager"
        src={{ "estate-logo.svg" | asset_url }}
        alt="{{ shop.name }}" />
    </a>
    <a href="/">
    <img
      class="logo-white"
      width="148"
      height="81"
      loading="eager"
      src={{ "logo-white.svg" | asset_url }}
      alt="{{ shop.name }}" />
  </a>
  </div>
  <ul class="nav">
   {% comment %} {% for link in linklists.main-menu.links %}
      <li class="nav-item"><a class="nav-link" href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}  {% endcomment %}
    <li class="nav-item">
      <a href="/pages/shop" class="nav-link">SHOP</a>
    </li>
    <li class="nav-item">
      <a href="/pages/craft" class="nav-link">OUR CRAFT</a>
    </li>
    <li class="nav-item">
      <a href="/pages/craft" class="nav-link">OUR STORY</a>
    </li>
  </ul>
  <div class="mbl-menu">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</navbar>