<div class="product-container">
  <div class="col-2 product-left">
    <img
      src="{{'product1.jpeg' | asset_url}}"
      alt="Coffee Bottle"
      width="600"
      height="550"
      loading="eager"
      id="MainImg"
      class="main-img">
    <div class="multiple-img-container">
      <img
        src="{{'product1.jpeg' | asset_url }}"
        alt=""
        width="142.5"
        height="110"
        loading="eager"
        class="sec-img">
      <img
        src="{{'product2.jpeg' | asset_url }}"
        alt=""
        width="142.5"
        height="110"
        loading="eager"
        class="sec-img">
      <img
        src="{{'product3.jpeg' | asset_url }}"
        alt=""
        width="142.5"
        height="110"
        loading="eager"
        class="sec-img">
      <img
        src="{{'product4.jpeg' | asset_url }}"
        alt=""
        width="142.5"
        height="110"
        loading="eager"
        class="sec-img">
    </div>
  </div>

  <div class="col-2 product-right">
    <div class="tab">
      <p class="delivery">AUTO DELIVERY</p>
      <p class="onetime">ONE TIME</p>
    </div>
    <div class="title-container">
      <h1 class="title">Ultra Concentrated Coffee</h1>
      <div class="counter">
        <span class="minus">-</span>
        <span class="qty">1</span>
        <span class="plus">+</span>
      </div>
    </div>
    <div class="reviews">
      <span>(15112 reviews)</span>
      <span>&#9734 &#9734 &#9734 &#9734 &#9734</span>
    </div>
    <p class="money-back">
      30-Day Money-Back Guarantee
    </p>
    <div class="process"></div>
    <p class="product-desc">
      Indulge in the ancestral essence of Estate '98, a specialty Ultra Concentrated Coffee (Esencia de Café) meticulously crafted from the finest 100% Strictly High Grown Arabica beans.
    </p>
    <div class="total">
      <span>TOTAL</span>
      <p>
        <span class="price">$25
        </span>/MO</p>
    </div>
    <div class="coupon">
      <input type="text" placeholder="Enter coupon code here">
      <button class="apply">APPLY</button>
    </div>
    <div class="shop-now">
      SHOP NOW
    </div>
  </div>
</div>