{% section 'navbar-white' %}
<div class="craft-hero">
  <h1 class="hero-title">
    OUR CRAFT
  </h1>
</div>

{% comment %} cultivate {% endcomment %}

<section class="container">
    <h1 class="heading-primary">
        CULTIVATE
    </h1>
    <div class="flex-text-first">
        <div class="flex-30">
            <p class="line-height-32 craft-p-left">
              In order to extract the terrain's flavors, our process commences prior to planting the seed. Creating exceptional coffee requires a harmonious blend of terroir – volcanic soil, microclimate, elevation, and sunlight – which nurture our coffee plants. We employ a 100% Arabica Bourbon coffee varietal for crafting our highly concentrated coffee, which encapsulates the land's flavors within the bean's molecular composition.
            </p> <br>
            <p class="line-height-32 craft-p-left">
              We believe that to truly honor Nature, we must listen and learn from it. Shifting our perspective from taking from nature to receiving from it, we strive for a balanced relationship. This equal partnership between Estate ‘98 and Nature forms the core of everything that we do. To promote biodiversity and maintain quality, we cultivate all of our shade-grown coffee beneath the protective canopy of trees. This method not only contributes to the environment by providing oxygen, water, and a habitat for countless wildlife, including thousands of birds, but it also imparts complex flavors to the end product.
            </p>
        </div>
        <div class="flex-70">
          <video
          class="promo-video"
            autoplay
            loop
            muted
          >
          <source src="{{ 'cultivate.mp4' | asset_url }}" type="video/mp4">
      </video>
        </div>
    </div>
    <div class="flex-image-first">
        <div class="flex-70">
            <img src="{{ 'harvest1.jpeg' |  asset_url  }}" alt="">
        </div>
        <div class="flex-30">
            <h1 class="heading-primary align-left pl-60">
                HARVEST
            </h1>
            <p class="line-height-32 craft-p-right">
              In the fertile lands of El Salvador, a symphony of dedication and traditions orchestrates a successful “cosecha” or harvest. During the harvest season, which spans from October through March, the coffee farm and mill comes alive with a synergy of efforts from multiple skilled farmers on a daily basis in order to achieve a fruitful harvest. It all starts with the cutting of the coffee cherries.
            </p>
        </div>
    </div>
    <div class="flex-text-first">
        <div class="flex-30">
            <p class="line-height-32 craft-p-left">
              With an artisan's precision, our farmers handpick each coffee bean at the most optimal time of the coffee cherries maturation. This meticulous selection process guarantees that only the finest beans make their way into Estate '98.  
            </p>
        </div>
        <div class="flex-70">
            <img src="{{ 'harvest2.jpeg' | asset_url }}" alt="cultivate">
        </div>
    </div>

    {% comment %} process {% endcomment %}

    <h1 class="heading-primary">PROCESS</h1>

    <div class="flex-image-first">
        <div class="flex-content-left column-reverse">
          <p class="mb-60">Immediately after picking the coffee, these bright red coffee cherries are immediately transferred to the ‘Piscinas’ or Pools where the first step of the wet milling process begins. The intricate process through the bustling mill is where the final piece of the magic happens. Our beans are honey processed, in which the outer cherry layer is removed with the inner pulp mucilage left on the bean. The beans are then soaked and dried for a set amount of time and moisture content in order to allow the compounds in the pulp to penetrate into the inner bean. Once the beans with pulp have dried long enough, they are milled to remove the mucilage</p>
          <div class="flex-image-first">
            <img src="{{ 'process2.jpeg' | asset_url }}" alt="coffee making process">
          </div>
        </div>
        <div class="flex-image  flex-center align-self-start">
          <img src="{{ 'process1.jpeg' | asset_url}}" width="471"  alt="coffee making process">
          <div class="flex-content-right mt-60">
            <p>In order to unlock the flavors of these specialty beans, we pay homage to an age-old technique by gently drying our beans on traditional patios under the sun’s caress.During patio drying, the coffee is laid on the patio and is spread in thin layers and rotated regularly with a wooden palo to ensure an even drying process.
            </p> <br>
            <p>At the heart of the coffee production journey, the women of El Salvador take center stage in the bustling mill. With a keen eye and an innate understanding of the nuances that define excellence, they skillfully sort through the freshly harvested green coffee beans. This critical stage demands a delicate touch, as they assess each bean's size, shape, and color. Their expertise and finesse bring an added layer of dedication to the process, ensuring that only the finest coffee beans make it through the sorting lines.
            </p>
          </div>
        </div>
      </div>

    {% comment %} roast and extraction {% endcomment %}

    <h1 class="heading-primary">ROAST & EXTRACTION</h1>

    <div class="flex-text-first">
    <div class="flex-content-left center">
      <p>In our pursuit of perfection, each roasting batch is a perfect balance of time and temperature, carefully calibrated to bring out the unique character of the beans. Our expert roasters ensure that the beans are roasted to perfection, coaxing out the subtle notes of chocolate and tangerine that define 'Esencia de Cafe.'</p> <br>
      <p>Once roasted, the beans enter the next phase of their transformation – extraction. Here, we employ a cutting-edge extraction process that is an intricate mix of water, pressure, and temperature that maintains all of the good compounds of the coffee bean. We can proudly say that our ultra concentrated extract rivals our freshly brewed bean in quality and flavor. </p>
    </div>
    <div class="flex-image">
      <img src="{{ 'roast1.jpeg' | asset_url }}" alt="Coffee roast and extraction">
    </div>
  </div>

    <div class="flex-image-first">
    <div class="flex-image">
        <img src="{{ 'roast2.jpeg' | asset_url }}" alt="Coffee roast and extraction">
    </div>
    <div class="flex-content-right">
      <p>Through this symbiotic process of cultivating, roasting, and extraction, we ensure that 'Esencia de Cafe' embodies the very essence of El Salvadoran coffee culture. It is not just a beverage; it is a testament to our commitment to tradition, and a celebration of the land, the people, and the coffee that inspires us.
      </p>
    </div>
  </div>


</section>