
{% section 'navbar-white' %}
<div class="story-hero">
  <h1 class="hero-title z-2">
    OUR STORY
  </h1>
  <div class="overlay"></div>
</div>

<section class="container">
  <div class="flex-image-first">
    <div class="flex-content-left flex-center">
      <h1 class="heading-primary align-left">Santa Ana volcano</h1>
    </div>
    <div class="flex-content-right">
      <p>On ancestral land in Juayua, El Salvador, our coffee thrives across various regions of the Ilamatepec-Apaneca mountain range. The Santa Ana Volcano (Ilamatepec) stands as an enduring testament to the monumental significance it holds for coffee production in this land, and last erupted in 2005–its first eruption in more than 100 years. During the “golden-age of coffee” in El Salvador, the Santa Ana Volcano played a pivotal role, serving as the epicenter from which the coffee industry emerged and catalyzed prosperity throughout the country.
      </p>
    </div>
  </div>

  <div class="flex-text-first">
    <div class="flex-content-left">
      <p class="mb-60">The Izalco volcano and Ilamaptec-Apaneca mountain range not only create a breathtaking backdrop, but also shape the microclimate crucial for the quality and unique flavors of El Salvador's renowned coffee. For generations, this fertile, volcanic terrain has nurtured coffee plants, granting them the perfect blend of sunlight, volcanic soil, and elevation. The historic Santa Ana region serves as a vital partnership between humans and nature, culminating in our specialty coffee beans that encapsulate the rich history of El Salvador's coffee heritage.</p>
      <div class="flex-image-first">
        <img src="{{ 'map_new.png' | asset_url }}" alt="map">
      </div>
    </div>
    <div class="flex-image align-start">
      <img src="{{ 'volcano.png' | asset_url }}" alt="volcano">
    </div>
  </div>

  <h1 class="heading-primary align-left flex-center">
    A LEGACY PASSED <br> DOWN GENERATIONS
  </h1>
  <div class="flex-text-first" style="margin-bottom:50px;">
    <div class="flex-content-left pr-80">
      <p>Around the late 18th century, Manuel Larin, who originally hailed from Spain, embarked on an ambitious venture and acquired the land surrounding the magnificent Santa Ana Volcano. He named the land "Mashcarascuahuit," meaning wooden mask in Nahuatl (Pipil native language), reflecting a deep appreciation for the land’s history and its native people. As the 19th century unfolded, El Salvador's coffee industry underwent a remarkable transformation, rapidly evolving into one of the world's largest coffee producers. “Mashcarascuahuit” played an integral role in this transformative journey. His vision and dedication, combined with the fertile volcanic soil and favorable climate, allowed for the cultivation of exceptional coffee beans that would come to embody the spirit of El Salvador's rich coffee heritage.</p>
    </div>
    <div class="flex-image">
      <img src="{{ 'roberto.png' | asset_url }}" alt="Manuel Larin">
    </div>
  </div>

  <div class="flex-image-first">
    <div class="flex-image">
      <img src="{{ 'manuel.png' | asset_url }}" alt="Manuel Larin">
    </div>
    <div class="flex-content-right">
      <p>By 1950, Roberto Larin expanded the family's coffee production with wet and dry mills and named the mill “El ‘98”, which traces back to the original founding date of 1798. The mill not only increased the capacity of coffee processing but also introduced state-of-the-art technology into the production process, setting a new standard for efficiency and quality in the industry that still remains true to this day. Passed down through six generations, the devotion to coffee and this beloved land has become a legacy of the Larin family. Today, Andres and Jose Larin carry on their ancestors’ innovations and contributions, by infusing a family tradition with creative innovations.</p>
    </div>
  </div>

  <h1 class="heading-primary">
    ESENCIA DE CAFE
  </h1>

  <div class="flex-image-first">
    <div class="flex-content-left column-reverse">
      <p class="mb-60">Our Ultra Concentrated Coffee was inspired by an age-old 'Esencia de Cafe' recipe passed down by our ancestors. It was crafted by forward-thinking coffee farmers as a concentrated alternative when brewing coffee was impractical. Passed down through generations, this “Essence of Coffee” embodies the very spirit of El Salvadoran coffee culture and the deep connection to the land. It celebrates the meticulous care given to coffee plants, the skillful hands nurturing each bean, and the time-honored techniques infusing the beans with extraordinary flavors.
      </p>
      <div class="flex-image-first">
        <img src="{{ 'essencia1.png' | asset_url }}" alt="Esencia de cafe">
      </div>
    </div>
    <div class="flex-image center">
      <img src="{{ 'coffeebean.png' | asset_url }}" alt="Esencia de cafe">
      <div class="flex-content-right">
        <p>We wanted to honor this age old tradition by infusing it with innovation and that is how our Ultra Concentrated Coffee was born. By using traditional practices and modern technology, we were able to extract the highest-grade ultra concentrate available.
        </p><br>
        <p>With a blend of artistry and reverence, 'Esencia de Cafe' captures the very spirit of El Salvadoran coffee culture. It celebrates the meticulous care given to the coffee plants and land, the skillful hands that nurture each bean, and the traditional practices that infuse our coffee with exceptional flavor.
        </p>
      </div>
    </div>
  </div>

  <h1 class="heading-primary">
    MEET OUR FOUNDERS
  </h1>

  <div class="flex-image-first column-reverse">
    <div class="flex-image center align-self-start">
      <img src="{{ 'founders1.png' | asset_url }}" alt="Andres & Jose">
      <div class="flex-content-left">
        <p class="mt-60">Andres, the creative driving the brand, infuses his passion, marketing background, and leverages his connections spanning Miami and Central America. Jose is the brains behind the operation, who brings his engineering and startup prowess into flourishing ‘98. Together, they devotedly pursue their mission of showcasing one of the world's oldest coffee terroirs, along with their enduring spirit of Salvadoran specialty coffee, its rich history, and culture.
        </p>
      </div>
    </div>
    <div class="flex-content-right column-reverse">
      <p class="mb-60">At a very young age, Andres and Jose would visit their home country of El Salvador, where they spent their summers exploring every corner of the coffee mill and jumping in the mounds of coffee stored in the bodegas. In their adolescent years they moved to El Salvdor and became enthralled with the culture and people. Their passion for coffee began to awaken and continued to grow into adulthood, learning the complexities of coffee cultivation and the art of crafting the perfect cup.</p>
      <div class="flex-image-first">
        <img src="{{ 'founders2.png' | asset_url }}" alt="Andres & Jose">
      </div>
    </div>
  </div>
</section>