{% section 'navbar-white' %}
<div class="story-hero">
  <h1 class="hero-title z-2">
    OUR STORY
  </h1>
  <div class="overlay"></div>
</div>

<section class="container">
  <h1 class="heading-primary align-left flex-center">
    A LEGACY PASSED <br> DOWN GENERATIONS
  </h1>
  <div class="flex-text-first" style="margin-bottom:50px;">
    <div class="flex-content-left">
      <p>Around the late 18th century, Manuel Larin, who originally hailed from Spain, embarked on an ambitious venture and acquired the land surrounding the magnificent Santa Ana Volcano. He named the land "Mashcarascuahuit," meaning wooden mask in Nahuatl (Pipil native language), reflecting a deep appreciation for the land’s history and its native people. As the 19th century unfolded, El Salvador's coffee industry underwent a remarkable transformation, rapidly evolving into one of the world's largest coffee producers. “Mashcarascuahuit” played an integral role in this transformative journey. His vision and dedication, combined with the fertile volcanic soil and favorable climate, allowed for the cultivation of exceptional coffee beans that would come to embody the spirit of El Salvador's rich coffee heritage.</p>
    </div>
    <div class="flex-image manuel-padding">
      <img src="{{ 'manuel.png' | asset_url }}" alt="Manuel Larin">
    </div>
  </div>

  <div class="flex-image-first">
    <div class="flex-image">
      <img src="{{ 'roberto.png' | asset_url }}" alt="Manuel Larin">
    </div>
    <div class="flex-content-right pl-100">
      <p>By 1945, Roberto Larin expanded the family's coffee production with wet and dry mills and named the mill “El ‘98”, which traces back to the original founding date of 1798. Passed down through six generations, devotion to coffee and this beloved land becomes a legacy of the Larin family. Today, that dedication remains strong as each era passes the torch of excellence. Andres and Jose Larin carry on their ancestors’ innovations and contributions, by infusing a family tradition with creative innovations.</p>
    </div>
  </div>

  <div class="flex-image-first">
    <h1 class="santa-title">Santa Ana volcano</h1>
    <div class="flex-content-right">
      <p>Juayua, perched in the mountains around the magnificent Santa Ana volcano in El Salvador, stands as an enduring testament to the monumental significance it holds for coffee production in this land. For generations, this fertile and enchanting land has nurtured coffee plants, bestowing upon them the perfect balance of sun, volcanic soil, and elevation. The Santa Ana volcano and Ilamaptec-Apaneca mountain range, with their majestic presence, not only provides a breathtaking backdrop but also plays a crucial role in shaping the microclimate that ensures the quality and distinct flavor profiles of El Salvador's renowned coffee.
      </p>
    </div>
  </div>

  <div class="flex-text-first">
    <div class="flex-content-left">
      <p class="mb-60">It is within these lands, amidst the lush slopes and misty valleys, that the rich legacy of coffee production has flourished, capturing the hearts of coffee connoisseurs worldwide. The historic region around the Santa Ana volcano stands as a testament to the enduring bond between nature and coffee, showcasing the important relationship that yields the specialty coffee beans which embody the essence of El Salvador's coffee heritage.</p>
      <div class="flex-image-first">
        <img src="{{ 'map-new.png' | asset_url }}" alt="map">
      </div>
    </div>
    <div class="flex-image align-start">
      <img src="{{ 'volcano.png' | asset_url }}" alt="volcano">
    </div>
  </div>

  <h1 class="heading-primary">
    ESENCIA DE CAFE
  </h1>

  <div class="flex-image-first">
    <div class="flex-content-left column-reverse">
      <p class="mb-60">Our Ultra Concentrated Coffee was inspired by an age-old 'Esencia de Cafe' recipe passed down by our ancestors. It was crafted by forward-thinking coffee farmers as a concentrated alternative when brewing coffee was impractical. Passed down through generations, this “Essence of Coffee” embodies the very spirit of El Salvadoran coffee culture and the deep connection to the land. It celebrates the meticulous care given to coffee plants, the skillful hands nurturing each bean, and the time-honored techniques infusing the beans with extraordinary flavors.
      </p>
      <div class="flex-image-first">
        <img src="{{ 'essencia1.png' | asset_url }}" alt="Esencia de cafe">
      </div>
    </div>
    <div class="flex-image center">
      <img src="{{ 'essencia2.png' | asset_url }}" alt="Esencia de cafe">
      <div class="flex-content-right">
        <p>We wanted to honor this age old tradition by infusing it with innovation and that is how our Ultra Concentrated Coffee was born. By using modern technology and age old techniques, we were able to achieve the highest-grade ultra concentrate available. We welcome you to experience our coffee and experience how our Esencia de Cafe competes with any freshly brewed specialty-grade coffee on the market.
        </p>
      </div>
    </div>
  </div>

  <div class="flex-text-first column-reverse">
    <div class="flex-content-left">
      <p class="mb-30">With a captivating blend of artistry and reverence, 'Esencia de Cafe' captures the very spirit of El Salvadoran coffee culture. It celebrates the meticulous care bestowed upon the coffee plants, the skillful hands that nurture each bean, and the time-honored techniques that infuse the brew with exceptional flavor..</p>
      <p class="mb-30">Beyond its delectable taste, 'Esencia de Cafe' holds a deeper significance as a symbol of unity and continuity. It brings together families and communities, serving as a source of pride and tradition that transcends time and change.</p>
      <p>
      As we embrace 'Esencia de Cafe,' we invite you to journey with us through history's pages, tracing the footsteps of the coffee pioneers who first crafted this precious elixir. Explore the tales of resilience and passion that have been passed down through the generations, and witness how this extraordinary blend intertwines with the very soul of El Salvadoran coffee. Savor every moment of this remarkable voyage, for it is not just a taste of the past, but a celebration of the enduring legacy that continues to shape the coffee culture of El Salvador today.
    </p>
    </div>
    <div class="flex-image">
      <img
        class="esencia-3"
        src="{{ 'essencia3.jpeg' | asset_url }}"
        alt="Esencia de cafe">
    </div>
  </div>
  <div class="p-center">
  </div>

  <h1 class="heading-primary">
    MEET OUR FOUNDERS
  </h1>

  <div class="flex-image-first">
    <div class="flex-image center align-self-start">
      <img src="{{ 'founders1.png' | asset_url }}" alt="Andres & Jose">
      <div class="flex-content-left">
        <p class="mt-60">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        </p>
      </div>
    </div>
    <div class="flex-content-right column-reverse">
      <p class="mb-60">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      <div class="flex-image-first">
        <img src="{{ 'founders2.png' | asset_url }}" alt="Andres & Jose">
      </div>
    </div>
  </div>
</section>