{% section 'navbar-white' %}
<div class="story-hero">
  <h1 class="hero-title z-2">
    OUR STORY
  </h1>
  <div class="overlay"></div>
</div>

<section class="container">
  <h1 class="heading-primary align-left flex-center">
    A LEGACY PASSED <br> DOWN GENERATIONS
  </h1>
  <div class="flex-text-first" style="margin-bottom:50px;">
    <div class="flex-content-left">
      <p>Embark on a captivating journey as we unveil the true origins of Estate '98, a tale that dates back two centuries when Manuel Larin family, hailing from Spain, bought the storied lands encircling the majestic Santa Ana Volcano with the name of “Mashcarascuahuit” which means wooden mask in Nahuat (Pipil native language). From that fateful arrival, a legacy took root, steadfastly nurtured and upheld by six generations of growing and cultivating coffee. Today, their unwavering dedication persists, passing down the mantle of excellence with each passing era.</p>
    </div>
    <div class="flex-image manuel-padding">
      <img src="{{ 'manuel.png' | asset_url }}" alt="Manuel Larin">
    </div>
  </div>

  <div class="flex-image-first">
    <div class="flex-image">
      <img src="{{ 'roberto.png' | asset_url }}" alt="Manuel Larin">
    </div>
    <div class="flex-content-right pl-100">
      <p>From the history of this lineage, Roberto Larin emerged as a visionary ahead of his time, propelling the family's coffee enterprise to new heights. His pioneering spirit led to the expansion of wet and dry mill production, igniting a transformative chapter in the Larin family's legacy. Now, Andres and Jose Larin, custodians of this illustrious heritage, build upon their grandfather’s innovations, infusing their own creative ingenuity into the fabric of the family business. Together, they continue to shape the future of Estate '98, breathing life into their ancestral wisdom while forging an indelible path of their own that is steadfastly committed to the pursuit of innovation.</p>
    </div>
  </div>

  <div class="flex-image-first">
    <h1 class="santa-title">Santa Ana volcano</h1>
    <div class="flex-content-right">
      <p>Juayua, perched in the mountains around the magnificent Santa Ana volcano in El Salvador, stands as an enduring testament to the monumental significance it holds for coffee production in this land. For generations, this fertile and enchanting land has nurtured coffee plants, bestowing upon them the perfect balance of sun, volcanic soil, and elevation. The Santa Ana volcano and Ilamaptec-Apaneca mountain range, with their majestic presence, not only provides a breathtaking backdrop but also plays a crucial role in shaping the microclimate that ensures the quality and distinct flavor profiles of El Salvador's renowned coffee.
      </p>
    </div>
  </div>

  <div class="flex-text-first">
    <div class="flex-content-left">
      <p class="mb-60">It is within these lands, amidst the lush slopes and misty valleys, that the rich legacy of coffee production has flourished, capturing the hearts of coffee connoisseurs worldwide. The historic region around the Santa Ana volcano stands as a testament to the enduring bond between nature and coffee, showcasing the important relationship that yields the specialty coffee beans which embody the essence of El Salvador's coffee heritage.</p>
      <div class="flex-image-first">
        <img src="{{ 'map-new.png' | asset_url }}" alt="map">
      </div>
    </div>
    <div class="flex-image align-start">
      <img src="{{ 'volcano.png' | asset_url }}" alt="volcano">
    </div>
  </div>

  <h1 class="heading-primary">
    ESENCIA DE CAFE
  </h1>

  <div class="flex-image-first">
    <div class="flex-content-left column-reverse">
      <p class="mb-60">At the very core of our coffee journey lies 'Esencia de Cafe,' a cherished treasure steeped in history and tradition. Translating to "Essence of Coffee," this revered elixir traces its roots back through the annals of time, connecting us to the heart of El Salvador's coffee heritage.</p>
      <div class="flex-image-first">
        <img src="{{ 'essencia1.png' | asset_url }}" alt="Esencia de cafe">
      </div>
    </div>
    <div class="flex-image center">
      <img src="{{ 'essencia2.png' | asset_url }}" alt="Esencia de cafe">
      <div class="flex-content-right">
        <p>In the enchanting landscapes   surrounding the Santa Ana Volcano, 'Esencia de Cafe' emerged as an ancestral recipe crafted by the visionary coffee farmers of El Salvador. Passed down through generations, this sacred elixir embodies the essence of their profound connection to the land, the coffee, and the communities that thrive amidst its embrace.
        </p>
      </div>
    </div>
  </div>

  <div class="flex-text-first column-reverse">
    <div class="flex-content-left">
      <p class="mb-30">With a captivating blend of artistry and reverence, 'Esencia de Cafe' captures the very spirit of El Salvadoran coffee culture. It celebrates the meticulous care bestowed upon the coffee plants, the skillful hands that nurture each bean, and the time-honored techniques that infuse the brew with exceptional flavor..</p>
      <p class="mb-30">Beyond its delectable taste, 'Esencia de Cafe' holds a deeper significance as a symbol of unity and continuity. It brings together families and communities, serving as a source of pride and tradition that transcends time and change.</p>
      <p>
      As we embrace 'Esencia de Cafe,' we invite you to journey with us through history's pages, tracing the footsteps of the coffee pioneers who first crafted this precious elixir. Explore the tales of resilience and passion that have been passed down through the generations, and witness how this extraordinary blend intertwines with the very soul of El Salvadoran coffee. Savor every moment of this remarkable voyage, for it is not just a taste of the past, but a celebration of the enduring legacy that continues to shape the coffee culture of El Salvador today.
    </p>
    </div>
    <div class="flex-image">
      <img
        class="esencia-3"
        src="{{ 'essencia3.jpeg' | asset_url }}"
        alt="Esencia de cafe">
    </div>
  </div>
  <div class="p-center">
  </div>

  <h1 class="heading-primary">
    MEET OUR FOUNDERS
  </h1>

  <div class="flex-image-first">
    <div class="flex-image center align-self-start">
      <img src="{{ 'founders1.png' | asset_url }}" alt="Andres & Jose">
      <div class="flex-content-left">
        <p class="mt-60">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        </p>
      </div>
    </div>
    <div class="flex-content-right column-reverse">
      <p class="mb-60">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      <div class="flex-image-first">
        <img src="{{ 'founders2.png' | asset_url }}" alt="Andres & Jose">
      </div>
    </div>
  </div>
</section>