<div class="craft-hero">
  <h1 class="heading-primary clr-white mb-60">
    OUR CRAFT
  </h1>
</div>

{% comment %} cultivate {% endcomment %}

<section class="container">
    <h1 class="heading-primary">
        CULTIVATE
    </h1>
    <div class="flex-text-first">
        <div class="flex-30">
            <p class="line-height-32 craft-p-left">
                We believe in order to best serve Nature, we must listen to it and learn from it. On ancestral land in Juayua, El Salvador, our coffee is grown on rich volcanic soil in different parts of the Ilamatepec-Apaneca mountain range. By shifting the perspective from humans merely "taking" from nature to humans "receiving" from nature, the relationship between the two becomes balanced. This equal partnership between Estate ‘98 and Nature is at the core of everything we do. To promote biodiversity and quality, all of our coffee is shade-grown under the canopy of trees. Not only do our forests protect natural ecosystems and local water supplies, our forests are home to thousands of birds and fauna.
            </p>
        </div>
        <div class="flex-70">
            <img src="{{ 'cultivate.jpeg' | asset_url }}" alt="cultivate">
        </div>
    </div>
    <div class="flex-image-first">
        <div class="flex-70">
            <img src="{{ 'harvest1.jpeg' |  asset_url  }}" alt="">
        </div>
        <div class="flex-30">
            <h1 class="heading-primary align-left pl-60">
                HARVEST
            </h1>
            <p class="line-height-32 craft-p-right">
                In the mesmerizing land of El Salvador, a symphony of unwavering dedication and time-honored traditions orchestrates the birth of a truly exceptional coffee bean. Here, amidst the lofty peaks and fertile valleys, the 100% strictly high grown Bourbon variety 
            </p>
        </div>
    </div>
    <div class="flex-text-first">
        <div class="flex-30">
            <p class="line-height-32 craft-p-left">
                With an artisan's precision, our farmers meticulously handpick each precious coffee bean during the harvest. This meticulous selection process guarantees that only the finest beans make their way into Estate '98.
            </p>
        </div>
        <div class="flex-70">
            <img src="{{ 'harvest2.jpeg' | asset_url }}" alt="cultivate">
        </div>
    </div>

    {% comment %} process {% endcomment %}

    <h1 class="heading-primary">PROCESS</h1>

    <div class="flex-image-first">
        <div class="flex-content-left column-reverse">
          <p class="mb-60">To unlock the true essence of these specialty beans, we pay homage to an age-old technique by gently drying our beans on traditional patios under the sun’s caress.The time-honored tradition ensures that every cup of Estate '98 embodies the essence of unparalleled flavor and quality, a testimony to the cherished practices handed down through the ages.</p>
          <div class="flex-image-first">
            <img src="{{ 'process2.jpeg' | asset_url }}" alt="coffee making process">
          </div>
        </div>
        <div class="flex-image  flex-center align-self-start">
          <img src="{{ 'process1.jpeg' | asset_url}}" width="471"  alt="coffee making process">
          <div class="flex-content-right mt-60">
            <p>To unlock the true essence of these specialty beans, we pay homage to an age-old technique by gently drying our beans on traditional patios under the sun’s caress.The time-honored tradition ensures that every cup of Estate '98 embodies the essence of unparalleled flavor and quality, a testimony to the cherished practices handed down through the ages.
            </p>
          </div>
        </div>
      </div>

    {% comment %} roast and extraction {% endcomment %}

    <h1 class="heading-primary">ROAST & EXTRACTION</h1>

    <div class="flex-text-first">
    <div class="flex-content-left center">
      <p>In our pursuit of perfection, we roast our beans with meticulous precision. Each batch is an orchestration of time and temperature, carefully calibrated to bring out the unique character of the beans. Our expert roasters ensure that the beans are roasted to perfection, coaxing out the subtle notes of chocolate and tangerine that define 'Esencia de Cafe.'</p>
      <p>Once roasted to perfection, the beans embark on the next phase of their transformation – extraction. Here, we employ cutting-edge technology while respecting the age-old traditions that have made 'Esencia de Cafe' a timeless treasure. Our extraction process is an intricate dance of water, pressure, and temperature, artfully choreographed to capture the essence of each bean. The result is a brew that boasts a velvety body, a delightful milk chocolate undertone, and a gentle tangerine acidity that dances on the palate.</p>
    </div>
    <div class="flex-image">
      <img src="{{ 'roast1.jpeg' | asset_url }}" alt="Coffee roast and extraction">
    </div>
  </div>

    <div class="flex-image-first">
    <div class="flex-image">
        <img src="{{ 'roast2.jpeg' | asset_url }}" alt="Coffee roast and extraction">
    </div>
    <div class="flex-content-right">
      <p>Through this meticulous journey of roasting and extraction, we ensure that 'Esencia de Cafe' embodies the very soul of El Salvadoran coffee culture. It is not just a beverage; it is a symphony of flavors, a testament to our commitment to tradition, and a celebration of the land, the people, and the coffee that inspires us.</p>
    </div>
  </div>


</section>